---
Checks: '-*,
    boost-*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    -google-readability-todo,
    hicpp-*,
    llvm-*,
    misc-*,
    -misc-use-anonymous-namespace,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    readability-*,
'
WarningsAsErrors: ''
HeaderFilterRegex: '.*(include).*'
FormatStyle: file
CheckOptions:
  - {key: misc-const-correctness.AnalyzeValues, value: false}
  - {key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: true}
  - {key: readability-implicit-bool-conversion.AllowIntegerConditions, value: true}
  - {key: readability-implicit-bool-conversion.AllowPointerConditions, value: true}
  - {key: readability-uppercase-literal-suffix.NewSuffixes, value: 'L;uL;uLL'}
  - {key: hicpp-uppercase-literal-suffix.NewSuffixes, value: 'L;uL;uLL'}
  - {key: readability-identifier-length.IgnoredVariableNames, value: '_'}
...
