#------------------------------------------------------------------------------
# BUILD FILES
#------------------------------------------------------------------------------

*.a
*.d
*.dll
*.lib
*.o
*.obj
*.so

#------------------------------------------------------------------------------
# BINARY FILES
#------------------------------------------------------------------------------

*.bin
*.elf
*.exe
*.hex
*.map
*.out

#------------------------------------------------------------------------------
# FOLDERS
#------------------------------------------------------------------------------

bin/
build/
docs/
logs/
samples/

#------------------------------------------------------------------------------
# UTILITY FILES
#------------------------------------------------------------------------------

*.orig
*~
.*
\#*#

#------------------------------------------------------------------------------
# EXCEPTIONS
#------------------------------------------------------------------------------

!.gitattributes
!.gitconfig
!.gitignore
!.gitmodules

!.clangd
!.clang-format
!.clang-tidy

!.editorconfig

!.devcontainer
!.vscode/
