---
Checks: '
    -cert-err58-cpp,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -readability-magic-numbers,
'
InheritParentConfig: true
...
